<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened>
    <h2 class="menu-title">App</h2>
    <div class="icon-menu">
      <a
        class="menu-item"
        [routerLink]="['/book']"
        matTooltip="Livres"
        [routerLinkActive]="['router-link-active']"
      >
        <em class="fas fa-book"></em>
      </a>
      <a
        class="menu-item"
        matTooltip="Produit"
        [routerLink]="['/product']"
        [routerLinkActive]="['router-link-active']"
      >
        <em class="fas fa-store"></em>
      </a>
      <a
        class="menu-item"
        matTooltip="Méteo"
        [routerLink]="['/meteo']"
        [routerLinkActive]="['router-link-active']"
      >
        <em class="fas fa-cloud-sun-rain"></em>
      </a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button> -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
